$primary-color: #c7a4e3;
$secundary-color: #f0ebe6;
$color-ondas: #a4e3c7;
$color-waves: #683b8c;
$hover-color: #3c284d;
$color-letter: #101010;
$color-cuadros: #a476c9;

$primary-font: "Abril Fatface", cursive;
$secundary-font: "Poppins", sans-serif;

$commonBorderRadius: 5px;
